*.aux
*.pdf
*.tex~
.DS_Store
*.log
*.out
*.gz
*.toc
*.brf
*.bbl
*.blg
*.el
Tester.tex
forarxiv/OC/OneColor.tex
forarxiv/OC/xx.tex
forarxiv/AC/xx.tex
forarxiv/AC/AllColors.tex
forarxiv/amsalpha2.bst
forarxiv/biblio3.bib
forarxiv/TameAndSquare.tex
forarxiv/TAS/TameAndSquare.tex
forarxiv/TAS/xxAC.tex
forarxiv/TAS/xxOC.tex
forarxiv/TAS/xxWCons.tex
forarxiv/WConst/WConstruction.tex
forarxiv/WConst/xxAC.tex
forarxiv/WConst/xxOC.tex
forarxiv/WConst/xxTAS.tex
Rigidification - HHA/WConstruction.tex
*.aux#
