
EqDenEqSimpOp.aux
*.pdf
EqDenEqSimpOp.pdf
EqDenEqSimpOp.pdf
*.pdf
*.tex~
.DS_Store
HtpyGOp.aux
HtpyGOp.log
HtpyGOp.out
HtpyGOp.synctex.gz
HtpyGOp.toc
Outdated/Outdated - PullbackOfFreeOps.aux
Outdated/Outdated - PullbackOfFreeOps.log
Outdated/Outdated - PullbackOfFreeOps.out
Outdated/Outdated - PullbackOfFreeOps.synctex.gz
Outdated/Outdated - PullbackOfFreeOps.toc
